{% extends 'indexTemplate.html' %}
{% load staticfiles %}

{% block title %}Nic Ni | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<section id="slider" class="slider fullwidthbanner-container roundedcorners">
    <div class="fullwidthbanner" data-height="550" data-navigationStyle="">
        <ul class="hide">
            {% for item in carousel_items %}
            <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">
                <img src="{% static 'assets/images/1x1.png' %}" data-lazyload="/media/{{ item.imagen }}" alt="" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat" />

                <div class="tp-dottedoverlay twoxtwo">
                    <!-- dotted overlay -->
                </div>
                <div class="overlay dark-3">
                    <!-- dark overlay [1 to 9 opacity] -->
                </div>

                <div class="tp-caption customin ltl tp-resizeme large_bold_white" data-x="center" data-y="155" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1200"
                    data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 10;">
                    {{ item.titulo }}
                </div>

                <div class="tp-caption customin ltl tp-resizeme small_light_white font-lato" data-x="center" data-y="245" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800"
                    data-start="1400" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 10; width: 100%; max-width: 750px; white-space: normal; text-align:center; font-size:20px;">
                    {{ item.caption }}
                </div>



            </li>
            {% endfor %}

        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</section>
<div class="alert alert-transparent bordered-bottom">
  <div class="container">

    <div class="row">

      <div class="col-md-9 col-sm-12"><!-- left text -->
        <h3>Llama ahora al <span class="blue-1-text"><strong>+505-2270-3141</strong></span> y pregunta sobre los grandiosos paquetes promocionales</h3>
        <p class="font-lato weight-300 size-20 nomargin-bottom">
          Nosotros estaremos atendiendo todas tus dudas.
        </p>
      </div><!-- /left text -->


      <div class="col-md-3 col-sm-12 text-right"><!-- right btn -->
        <a href="#purchase" rel="nofollow" target="_blank" class="btn btn-info btn-lg">Leer Mas</a>
      </div><!-- /right btn -->

    </div>

  </div>
</div>
<section>
  <div class="container">

    <div class="row">

      <div class="col-md-5 col-sm-5">
        <a class="image-hover lightbox thumbnail" href="http://vimeo.com/56624256" data-plugin-options='{"type":"iframe"}'>
          <span class="image-hover-icon image-hover-light"><!-- image-hover-light | image-hover-dark -->
            <i class="fa fa-vimeo-square"><!-- video icon --></i>
          </span>
          <img class="img-responsive" src="{% static 'assets/images/logoNiCircle.png' %}" alt="...">
        </a>
      </div>

      <div class="col-md-7 col-sm-7">

        <header class="margin-bottom-60">
          <h2>Reseña Historica del Nic.Ni</h2>
          <p class="lead font-lato">Lorem ipsum dolor sit amet, consectetur adipisicing elit!</p>
        </header>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus deserunt, nobis quae eos provident quidem. Quaerat expedita dignissimos perferendis, nihil quo distinctio eius architecto reprehenderit maiores.</p>
        <p>Similique excepturi voluptates placeat ducimus delectus magnam tempore dolore dolorem quisquam porro modi voluptatum eum saepe dolorum ratione officia sint eos minus.</p>

        <a class="btn btn-default btn-lg size-15 margin-top-30 lightbox" href="http://vimeo.com/56624256" data-plugin-options='{"type":"iframe"}'>VER VIDEO</a>

      </div>

    </div>

  </div>
</section>

<div class="callout callout-theme-color blue-1-bg">
  <div class="container">

    <div class="row">

      <div class="col-md-9"><!-- title + shortdesc -->
        <h3>Documentos Obligatorios</h3>
        <p>Revisa los documentos necesarios para poder optar por un dominio .ni</p>
      </div>

      <div class="col-md-3"><!-- button -->
        <a href="page-careers.html" class="btn btn-primary btn-lg">Ver Documentos</a>
      </div>

    </div>

  </div>
</div>
<div class="container">
  <h3 class="page-header weight-300 margin-top-60">
    <a href="#" data-toggle="tooltip" title="ver todas"><i class="fa fa-plus-square-o"></i></a>
    Noticias <strong>Recientes</strong>
  </h3>

  <div class="row">

    <div class="col-md-4">

      <!-- article item -->
      <div class="item-box">
        <figure>
          <a class="item-hover" href="magazine-single.html">
            <span class="overlay color2"></span>
            <span class="inner">
              <span class="block fa fa-plus fsize20"></span>
              <strong>LEER</strong> ARTICULO
            </span>
          </a>
          <img alt="" class="img-responsive" src="{% static 'assets/images/demo/magazine/thumbs/thumb_1-min.jpg' %}" width="263" height="147" />
        </figure>
        <div class="item-box-desc">
          <h4>Chinese New Year by the numbers</h4>
          <small>29 June 2014, 9:55</small>
          <p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
        </div>
      </div>
      <!-- /article item -->

    </div>


    <div class="col-md-4">

      <!-- article item -->
      <div class="item-box">
        <figure>
          <a class="item-hover" href="magazine-single.html">
            <span class="overlay color2"></span>
            <span class="inner">
              <span class="block fa fa-plus fsize20"></span>
              <strong>LEER</strong> ARTICULO
            </span>
          </a>
          <img alt="" class="img-responsive" src="{% static 'assets/images/demo/magazine/thumbs/thumb_2-min.jpg' %}" width="263" height="147" />
        </figure>
        <div class="item-box-desc">
          <h4>Chinese New Year by the numbers</h4>
          <small>29 June 2014, 9:55</small>
          <p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
        </div>
      </div>
      <!-- /article item -->

    </div>

    <div class="col-md-4">

      <!-- article item -->
      <div class="item-box">
        <figure>
          <a class="item-hover" href="magazine-single.html">
            <span class="overlay color2"></span>
            <span class="inner">
              <span class="block fa fa-plus fsize20"></span>
              <strong>LEER</strong> ARTICULO
            </span>
          </a>
          <img alt="" class="img-responsive" src="{% static 'assets/images/demo/magazine/thumbs/thumb_3-min.jpg' %}" width="263" height="147" />
        </figure>
        <div class="item-box-desc">
          <h4>Chinese New Year by the numbers</h4>
          <small>29 June 2014, 9:55</small>
          <p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
        </div>
      </div>
      <!-- /article item -->

    </div>

    <!-- /article item -->
  </div>
</div>

{% endblock content %}

{% block script %}
{% endblock script %}
