{% extends 'administratorTemplate.html' %}
{% load staticfiles %}

{% block title %}Administrador | Nic Ni{% endblock title %}

{% block header %}
<link href="{% static 'nifty/plugins/datatables/media/css/dataTables.bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'nifty/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css' %}" rel="stylesheet">
<link href="{% static 'nifty/plugins/bootstrap-validator/bootstrapValidator.min.css' %}" rel="stylesheet">
{% endblock header %}
{% block pagetittle %} Modificar Cuenta de Usuario {% endblock pagetittle %}
{% block breadcumbs %}Modificar Cuenta{% endblock breadcumbs %}
{% block content %}
<div class="row">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="display:none" id="formModify">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Modificar Cuenta de Usuario</h3>
        </div>
        <!--Horizontal Form-->
        <!--===================================================-->
        <form class="form-horizontal" name="form-modify-account" id="form-modify-account" >
          <fieldset>
            {% csrf_token %}
            <div class="panel-body">
              <div class="form-group" id="fgUserName">
                <label class="col-sm-3 control-label">Usuario:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="Usuario" name="username" id="username" class="form-control">
                </div>
              </div>
              <div class="form-group" id="fgFirstName">
                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Nombres:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="Nombres" name="firstname" id="firstname" class="form-control">
                </div>
              </div>
              <div class="form-group" id="fgLastName">
                <label class="col-sm-3 control-label" for="demo-hor-inputemail">Apellidos:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="Apellidos" name="lastname" id="lastname" class="form-control">
                </div>
              </div>
              <div class="form-group" id="fgPassword">
                <label class="col-sm-3 control-label" for="demo-hor-inputpass">Contraseña:</label>
                <div class="col-sm-9">
                  <input type="password" placeholder="Contraseña" name="password" id="password" class="form-control">
                </div>
              </div>
              <div class="form-group" id="fgConfirmPassword">
                <label class="col-sm-3 control-label" for="demo-hor-inputpass">Repetir Contraseña:</label>
                <div class="col-sm-9">
                  <input type="password" name="confirmpassword" placeholder="Repetir Contraseña" id="confirmpassword" class="form-control">
                </div>
              </div>
              <div class="form-group" id="fgAdmin">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label id="lblAdmin" class="form-checkbox form-normal">
                      <input name="admin" id="admin" type="checkbox"> Administrador
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group" id="fgActive">
                <div class="col-sm-offset-3 col-sm-9">
                  <div class="checkbox">
                    <label id="lblActive" class="form-checkbox form-normal">
                      <input name="active" id="active" type="checkbox"> Activo
                    </label>
                  </div>
                </div>
              </div>

            </div>
            <div class="panel-footer text-right">
              <button class="btn btn-info btn-labeled fa fa-plus fa-lg" type="submit">Actualizar</button>
              <button class="btn btn-warning btn-labeled fa fa-times fa-lg" id="btnCancelar" type="BUTTON">Cancelar</button>
            </div>
          </fieldset>

        </form>
        <!--===================================================-->
        <!--End Horizontal Form-->

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Lista de Cuentas de Usuario</h3>
        </div>
        <div class="panel-body">
          <form name="form-id-account" class="hidden" action="index.html" method="post">
            {% csrf_token %}
            <input type="text" name="idAccount" id="idAccount">
          </form>
          <table id="table-data" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="hide">ID</th>
                <th>USUARIO</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>ADMIN</th>
                <th>ACTIVO</th>
                <th class="sorting_disabled"></th>
              </tr>
            </thead>
            <tbody>
              {% for user in user_list %}
              <tr>
                <td class="hide">{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>
                  {% if user.is_superuser == True %}
                    <label class="form-checkbox form-normal form-primary active form-text">
                      <input type="checkbox" checked disabled="disabled">
                    </label>
                  {% else %}
                    <label class="form-checkbox form-normal form-primary active form-text">
                      <input type="checkbox" disabled="disabled">
                    </label>
                  {% endif %}
                </td>
                <td>
                  {% if user.is_active == True %}
                    <span class="label label-table label-success">Activo</span>
                  {% else %}
                    <span class="label label-table label-danger">Inactivo</span>
                  {% endif %}

                </td>
                <td>
                  <div class="hidden-sm hidden-xs action-buttons">
                    <a class="btn btn-info btn-sm" href="#">
                      <i class="ace-icon fa fa-search-plus icon-lg"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" href="#">
                      <i class="ace-icon fa fa-pencil icon-lg"></i>
                    </a>
                  </div>
                  <div class="hidden-lg hidden-sm">
                    <div class="inline position-relative">
                      <button class="btn btn-icon fa fa-caret-down icon-lg dropdown-toggle" data-toggle="dropdown"></button>
                        <ul class="dropdown-menu dropdown-only-icon dropdown-menu-right">
                          <li>
                            <a href="#">
                              <span class="blue">
                                <i class="ace-icon fa fa-search-plus icon-lg"></i>
                              </span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="green">
                                <i class="ace-icon fa fa-pencil icon-lg"></i>
                              </span>
                            </a>
                          </li>
                        </ul>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock content %}
{% block script %}
<script src="{% static 'nifty/plugins/datatables/media/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'nifty/plugins/datatables/media/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'nifty/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'nifty/plugins/bootstrap-validator/bootstrapValidator.min.js' %}"></script>
<script src="{% static 'js/modifyAccount.js' %}" type="text/javascript"></script>
{% endblock script %}
