#header {

  background-color: #003782 !important;
}
#topMain.nav-pills>li>a{
  color: #fff !important;
}

#header li.search i.fa{
  color: #fff !important;
}

#topNav div.submenu-dark ul.dropdown-menu{
  background-color: #003782 !important;
}

#footer{
  background: linear-gradient(to bottom, #003782 0%,#313131 100%) !important;
}

.blue-1-text{
  color: #2b5996;
}

.blue-1-bg{
  background-color: #2b5996;
}
